{% extends "base.html" %}


{% block main %}
    <div class ="pfbox">
        <div class= "toplane">
            <img class ="pfimage" src="{{ url_for('static',filename= 'EW1UKxNWsAIby2n.png') }}" alt="profile image"/>
            <h2>
                {{ fullname }}
            </h2> 
            <p class="shaded">@{{ username }}<br>Kingston, Jamaica<br>Joined {{ datej }}</p>
        </div>
        <div class="botlane">
            <p class="shaded">
                Sweeter than salt. Taller than bread. Got more oxygen than a submarine.
                If you need a website, then I'm your guy.
            </p>
            <div id="cter">
                <div id="history">
                    <div id="posts">
                        <h4>1</h4>
                        <p class="shaded">Posts</p>
                    </div>
                    <div id="following">
                        <h4>5</h4>
                        <p class="shaded">Following</p>
                    </div>
                    <div id = followers>
                        <h4>10M</h4>
                        <p class="shaded">Followers</p>
                    </div>
                </div>
            
                <button id="follow">Follow</button>
            </div>
            
        </div>
        

    </div>
{% endblock %}
